.responsive-example {
	--gap: var(--spacer-base);

	margin: calc(-1 * var(--spacer-sm) / 2);
	padding: var(--spacer-base) var(--spacer-base) var(--spacer-sm);
}
.responsive-example > * {
	margin: calc(var(--gap) / 2);
}
.responsive-example article {
	margin-bottom: var(--spacer-base);
	font-family: var(--font-family-sans);
}
.responsive-example .caption {
	font-style: italic;
	font-size: 0.875rem;
	color: var(--gray-600);
	margin-bottom: 0;
}
.responsive-example .caption.tabletUp {
	display: none;
}
.responsive-example article:first-of-type {
	max-width: var(--example-mobile-width);
}
@media (min-width: 30rem) {
	.responsive-example {
		display: grid;
		grid-template-columns: var(--example-mobile-width, 12.5rem) 1fr;
	}
	.responsive-example article {
		grid-row-start: 2;
	}
	.responsive-example footer.caption {
		grid-column: span 2;
		grid-row-start: 3;
		margin-top: 0;
	}
}
@media (hover: hover) and (min-width: 25rem) {
	.js .responsive-example > article {
		flex: auto 0;
		resize: both;
		overflow: auto;
		max-width: unset;
		box-shadow: var(--box-shadow-lg);
	}
	.js .responsive-example .caption:not(.tabletUp) {
		display: none;
	}
	.js .responsive-example .caption.tabletUp {
		display: block;
	}
	.js .responsive-example article:nth-of-type(2) {
		display: none;
	}
}

.layout-example {
	display: grid;
	grid-template-areas:
		"header"
		"sidebar"
		"main"
		"sidebar-right"
		"footer";
	grid-template-rows: auto auto 1fr auto auto;
}
.layout-example > * {
	padding: var(--spacer-sm);
	margin: 0;
}
.layout-example header {
	grid-area: header;
	background-color: var(--pink-200);
	border: 1px dashed var(--pink-400);
}
.layout-example aside:first-of-type {
	grid-area: sidebar;
	background-color: var(--teal-200);
	border: 1px dashed var(--teal-400);
}
.layout-example .main {
	grid-area: main;
	background-color: var(--purple-200);
	border: 1px dashed var(--purple-400);
}
.layout-example aside:nth-of-type(2) {
	grid-area: sidebar-right;
	background-color: var(--green-200);
	border: 1px dashed var(--green-400);
}
.layout-example footer {
	grid-area: footer;
	background-color: var(--orange-200);
	border: 1px dashed var(--orange-400);
}
.layout-example.tabletUp {
	grid-template-areas:
		"header header header"
		"sidebar main sidebar-right"
		"footer footer footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 20% 1fr 20%;
}

.flexbox-example {
	display: flex;
	flex-wrap: wrap;
}
.flexbox-example h5 {
	margin-bottom: var(--spacer-xxs);
}
.flexbox-example > * {
	margin: 0;
	padding: var(--spacer-sm);
	background-color: var(--gray-100);
	border: 1px dashed var(--gray-300);
	flex-grow: 1;
}
.flexbox-example:nth-of-type(2) {
	flex-wrap: nowrap;
}
.flexbox-example > * > * {
	margin: 0;
}

.inner-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.highlight-flex > :nth-child(1) {
	background-color: var(--pink-200);
	border: 1px dashed var(--pink-400);
}
.highlight-flex > :nth-child(2) {
	background-color: var(--green-200);
	border: 1px dashed var(--green-400);
}
.highlight-flex > :nth-child(3) {
	background-color: var(--blue-200);
	border: 1px dashed var(--blue-400);
}

.intrinsic-grid-example {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(7rem, auto));
}
.intrinsic-grid-example:nth-of-type(1) {
	grid-template-columns: repeat(auto-fill, minmax(11rem, auto));
}
.intrinsic-grid-example > * {
	margin: 0;
	padding: var(--spacer-sm);
	background-color: var(--pink-200);
	border: 1px dashed var(--pink-400);
	text-align: center;
}
.intrinsic-grid-example > :nth-child(2n + 1) {
	background-color: var(--green-200);
	border: 1px dashed var(--green-400);
}

.example-table {
	overflow-x: scroll;
}
.example-table table {
	border-collapse: collapse;
	background-color: var(--blue-100);
}
.example-table th,
.example-table td {
	padding: var(--spacer-sm);
	border: 1px solid var(--gray-400);
}

.box-example {
	font-family: var(--font-family-sans);
	padding: var(--spacer-base);
	border: 1px dashed var(--gray-500);
	font-size: var(--box-example-font-size, 2rem);
	width: 8rem;
	margin-right: 5rem;
	line-height: 1;
	background-color: white;
}

.flex-wrapper {
	--gap: var(--flex-wrapper-gap, --spacer-sm);

	display: flex;
	margin: calc(-1 * var(--gap) / 2);
	padding-top: var(--spacer-base);
}
.flex-wrapper > * {
	margin: calc(var(--gap) / 2);
}

.squishy-text {
	word-break: break-word;
	word-wrap: break-word;
	overflow-wrap: anywhere;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
