:root {
	/* Styles taken from https://tailwindcss.com/ */
	--box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

	--pink-100: #FFF5F7;
	--pink-200: #FED7E2;
	--pink-300: #FBB6CE;
	--pink-400: #F687B3;
	--pink-500: #ED64A6;
	--pink-600: #D53F8C;
	--pink-700: #B83280;
	--gray-100: #F7FAFC;
	--gray-200: #edf2f7;
	--gray-300: #E2E8F0;
	--gray-400: #cbd5e0;
	--gray-500: #a0aec0;
	--gray-600: #718096;
	--gray-700: #4a5568;
	--gray-800: #2d3748;
	--gray-900: #1A202C;
	--black: #000;
	--red-100: #FFF5F5;
	--red-200: #FED7D7;
	--red-300: #FEB2B2;
	--red-400: #FC8181;
	--red-500: #F56565;
	--red-600: #E53E3E;
	--red-700:#C53030;
	--orange-100: #FFFAF0;
	--orange-200: #FEEBC8;
	--orange-300: #FBD38D;
	--orange-400: #F6AD55;
	--orange-500: #ED8936;
	--orange-600: #DD6B20;
	--orange-700: #C05621;
	--orange-800: #9C4221;
	--orange-900: #7B341E;
	--green-100: #F0FFF4;
	--green-200: #C6F6D5;
	--green-300: #9AE6B4;
	--green-400: #68D391;
	--green-500: #48BB78;
	--green-600: #38A169;
	--green-700: #2F855A;
	--teal-100: #E6FFFA;
	--teal-200: #B2F5EA;
	--teal-300: #81E6D9;
	--teal-400: #4FD1C5;
	--teal-500: #38B2AC;
	--teal-600: #319795;
	--teal-700: #2C7A7B;
	--blue-100: #EBF8FF;
	--blue-200: #BEE3F8;
	--blue-300: #90CDF4;
	--blue-400: #63B3ED;
	--blue-500: #4299E1;
	--blue-600: #3182CE;
	--blue-700: #2B6CB0;
	--blue-800: #2C5282;
	--blue-900: #2A4365;
	--indigo-100: #EBF4FF;
	--indigo-200: #C3DAFE;
	--indigo-300: #A3BFFA;
	--indigo-400: #7F9CF5;
	--indigo-500: #667EEA;
	--indigo-600: #5A67D8;
	--indigo-700: #4C51BF;
	--indigo-800: #434190;
	--indigo-900: #3C366B;
	--purple-100: #FAF5FF;
	--purple-200: #E9D8FD;
	--purple-300: #D6BCFA;
	--purple-400: #B794F4;
	--purple-500: #9F7AEA;
	--purple-600: #805AD5;
	--purple-700: #6B46C1;

	--spacer-xxxs: 0.125rem;
	--spacer-xxs: 0.25rem;
	--spacer-xs: 0.5rem;
	--spacer-sm: 0.75rem;
	--spacer-base: 1.25rem;
	--spacer-md: 2rem;
	--spacer-lg: 3.25rem;
	--spacer-xl: 5.25rem;

	--body-padding-x: var(--spacer-base);
	--body-padding-x-negative: calc(-1 * var(--body-padding-x));

	--font-family-sans-bold: FFMarkWebProBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-sans: FFMarkWebProBook, "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-serif: FreightTextPro, Georgia, Times, "Times New Roman", serif;
	--font-family-mono: HackRegular, "Monaco", "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-sans-bold);
}
body {
	font-family: var(--font-family-serif);
	color: var(--gray-900);
	line-height: 1.6;
	margin: 0;
	font-size: 1.125rem;
}
body > header {
	padding: var(--spacer-base) var(--body-padding-x) 0;
	background-image:
		radial-gradient(circle at 50% -20%, var(--pink-100) 37%, #FFF5F700 37.5%),
		radial-gradient(circle at 30% 40%, var(--purple-100) 7%, #EBF4FF00 7.5%),
		radial-gradient(circle at 75% 50%, var(--purple-100) 10%, #EBF4FF00 10.5%);
	background-repeat: no-repeat;
	font-family: var(--font-family-sans);
}
main > section {
	padding: var(--spacer-lg) var(--body-padding-x) var(--spacer-xl);
	margin: 0;
}
main > section:first-of-type {
	padding-top: 0;
}
header,
main > section > section {
	max-width: 60ch;
	margin: auto;
}
* {
	margin-bottom: 0;
}
*, *::before, *::after {
	box-sizing: border-box;
}
* + * {
	margin-top: var(--spacer-sm);
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.15;
}
h2, h3, h4 {
	display: flex;
}
h2 a, h3 a, h4 a {
	margin-left: var(--spacer-xxs);
}
h2 a::before, h3 a::before, h4 a::before {
	display: block;
	content: "#";
}
h2 {
	margin-top: var(--spacer-base);
}
h3, h4, h5 {
	margin-top: var(--spacer-md);
}
h5 + *, h6 + * {
	margin-top: var(--spacer-sm);
}
ol, ul {
	margin-top: var(--spacer-base);
	padding-left: var(--spacer-base);
}

pre, tt {
	font-family: var(--font-family-mono);
}
tt {
	display: inline-block;
	background-color: var(--gray-100);
	padding: 0 var(--spacer-xxs);
	margin-top: var(--spacer-xxxs);
}

pre {
	overflow: auto;
	padding: var(--spacer-sm) var(--body-padding-x);
	background-color: var(--gray-100);
	line-height: 1.25;
	margin-left: var(--body-padding-x-negative);
	margin-right: var(--body-padding-x-negative);
	box-shadow: var(--box-shadow-lg);
}

*:focus {
	padding: var(--spacer-xxs);
	outline: 2px dashed var(--blue-500);
}

.visually-hidden {
	max-height: 0;
	font-size: 0;
	margin: 0;
}

a {
	color: var(--blue-700);
	text-decoration-color: var(--blue-200);
}
a:hover, a:focus {
	color: var(--blue-500);
	text-decoration-color: var(--blue-300);
}

body.js .no-js {
	display: none;
}
body:not(.js) .js-only {
	display: none;
}

.author {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}
.author img {
	max-width: 5rem;
	border-radius: 50%;
	margin-right: var(--spacer-sm);
	box-shadow: var(--box-shadow-lg);
}
.author > * {
	margin: 0;
}

header > nav {
	background-color: var(--blue-100);
	padding: var(--spacer-base);
	box-shadow: var(--box-shadow-lg);
}

/* CIRCLES LAYOUT */
@media (min-width: 65rem) {
	.title {
		margin-left: 6ch;
		margin-bottom: var(--spacer-md);
	}
	header > nav {
		margin-left: -20rem;
		float: left;
		shape-outside: circle(21rem at 1.5rem 40%);
		padding: 3.5rem 6.5rem 3.5rem 9rem;
		margin-top: -5.5rem;
		margin-right: 3rem;
		margin-bottom: 3rem;
		border-radius: 50%;
	}
	header > nav > * {
		margin-left: 2rem;
	}
}
header > nav > ul {
	font-size: 1rem;
	margin-top: var(--spacer-xs);
}
header > nav * {
	margin-top: 0;
}
header > nav li {
	padding-top: var(--spacer-xs);
}

header > nav > h2 {
	font-size: 1rem;
	display: flex;
}
toggle-button {
	display: flex;
	align-items: center;
	position: relative;
}
toggle-button > button {
	background-color: transparent;
	border: 0;
	display: flex;
	align-items: center;
}
toggle-button > button::after {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .5;
	width: 100%;
	height: 100%;
	content: "";
}
toggle-button svg {
	transition: transform 200ms ease;
}
toggle-button [aria-expanded=true] svg {
	transform: rotate(90deg);
}
.hide {
	display: none;
}
@media (min-width: 55rem) {
	toggle-button button {
		display: none;
	}
	.hide {
		display: block;
	}
	header > nav li {
		padding-top: 0;
	}
}

body > footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 var(--body-padding-x) var(--spacer-sm);
	background-color: var(--gray-100);
}
body > footer img {
	max-width: 3rem;
}

blockquote {
	display: flex;
	background-color: white;
	margin-left: var(--body-padding-x-negative);
	margin-right: var(--body-padding-x-negative);
	padding: var(--spacer-sm) var(--spacer-base);
	box-shadow: var(--box-shadow-md);
	align-items: center;
}
blockquote blockquote-quote {
	display: flex;
	justify-content: center;
}
blockquote blockquote-quote::before {
	content: "‟";
	font-size: 3rem;
	font-family: var(--font-family-serif);
	color: var(--indigo-200);
	height: 3rem;
	margin-right: var(--spacer-sm);
}
blockquote > * {
	margin: 0;
}

.em-list {
	list-style-type: none;
	font-size: 2rem;
	background-color: white;
	box-shadow: var(--box-shadow-lg);
	margin-left: var(--body-padding-x-negative);
	margin-right: var(--body-padding-x-negative);
	padding-left: var(--body-padding-x);
	margin-bottom: var(--spacer-md);
	position: relative;
	display: grid;
	grid-template-columns: var(--spacer-md) 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: var(--spacer-sm);
}
.em-list > * {
	line-height: 1.2;
	grid-column-start: 2;
	padding: var(--spacer-xs);
	margin: 0;
}
.em-list [data-and] {
	font-size: 3rem;
	color: var(--indigo-500);
	grid-row: 1 / 3;
	grid-column-start: 1;
	align-self: center;
	justify-self: center;
}
.em-list a {
	text-decoration: none;
	color: var(--indigo-900);
}
.em-list li:not([data-and]):hover {
	background-color: var(--gray-100);
}

figure {
	background-color: white;
	box-shadow: var(--box-shadow-lg);
	margin: var(--spacer-base) calc(-1 * var(--body-padding-x));
}
figcaption {
	padding: var(--spacer-base);
	background-color: var(--gray-100);
}

.horizontal-scroll {
	overflow-x: scroll;
}

.squishy-text {
	word-break: break-word;
	word-wrap: break-word;
	overflow-wrap: anywhere;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.flex-wrapper {
	--gap: var(--spacer-sm);

	display: flex;
	margin: calc(-1 * var(--gap) / 2);
	padding-top: var(--spacer-base);
}
.flex-wrapper > * {
	margin: calc(var(--gap) / 2);
}

.responsive-web-design {
	background-color: var(--indigo-100);
}
.accessible-web-design {
	background-color: var(--orange-100);
}

.responsive-example {
	--gap: var(--spacer-base);

	margin: calc(-1 * var(--spacer-sm) / 2);
	padding: var(--spacer-base) var(--spacer-base) var(--spacer-sm);
}
.responsive-example > * {
	margin: calc(var(--gap) / 2);
}
.responsive-example article {
	margin-bottom: var(--spacer-base);
	font-family: var(--font-family-sans);
}
.responsive-example .caption {
	font-style: italic;
	font-size: 0.875rem;
	color: var(--gray-600);
	margin-bottom: 0;
}
.responsive-example .caption.tabletUp {
	display: none;
}
@media (min-width: 30rem) {
	.responsive-example {
		display: grid;
		grid-template-columns: 12.5rem 1fr;
	}
	.responsive-example article {
		grid-row-start: 2;
	}
	.responsive-example footer.caption {
		grid-column: span 2;
		grid-row-start: 3;
		margin-top: 0;
	}
}
@media (hover: hover) and (min-width: 25rem) {
	.js .responsive-example > article {
		flex: auto 0;
		resize: both;
		overflow: auto;
		box-shadow: var(--box-shadow-lg);
	}
	.js .responsive-example .caption:not(.tabletUp) {
		display: none;
	}
	.js .responsive-example .caption.tabletUp {
		display: block;
	}
	.js .responsive-example article:nth-of-type(2) {
		display: none;
	}
}

.layout-example {
	display: grid;
	grid-template-areas:
		"header"
		"sidebar"
		"main"
		"sidebar-right"
		"footer";
	grid-template-rows: auto auto 1fr auto auto;
}
.layout-example > * {
	padding: var(--spacer-sm);
	margin: 0;
}
.layout-example header {
	grid-area: header;
	background-color: var(--pink-200);
	border: 1px dashed var(--pink-400);
}
.layout-example aside:first-of-type {
	grid-area: sidebar;
	background-color: var(--teal-200);
	border: 1px dashed var(--teal-400);
}
.layout-example .main {
	grid-area: main;
	background-color: var(--purple-200);
	border: 1px dashed var(--purple-400);
}
.layout-example aside:nth-of-type(2) {
	grid-area: sidebar-right;
	background-color: var(--green-200);
	border: 1px dashed var(--green-400);
}
.layout-example footer {
	grid-area: footer;
	background-color: var(--orange-200);
	border: 1px dashed var(--orange-400);
}
.layout-example.tabletUp {
	grid-template-areas:
		"header header header"
		"sidebar main sidebar-right"
		"footer footer footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 20% 1fr 20%;
}

.flexbox-example {
	display: flex;
	flex-wrap: wrap;
}
.flexbox-example h5 {
	margin-bottom: var(--spacer-xxs);
}
.flexbox-example > * {
	margin: 0;
	padding: var(--spacer-sm);
	background-color: var(--gray-100);
	border: 1px dashed var(--gray-300);
	flex-grow: 1;
}
.flexbox-example:nth-of-type(2) {
	flex-wrap: nowrap;
}
.flexbox-example > * > * {
	margin: 0;
}

.inner-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.highlight-flex > :nth-child(1) {
	background-color: var(--pink-200);
	border: 1px dashed var(--pink-400);
}
.highlight-flex > :nth-child(2) {
	background-color: var(--green-200);
	border: 1px dashed var(--green-400);
}
.highlight-flex > :nth-child(3) {
	background-color: var(--blue-200);
	border: 1px dashed var(--blue-400);
}

.intrinsic-grid-example {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(7rem, auto));
}
.intrinsic-grid-example:nth-of-type(1) {
	grid-template-columns: repeat(auto-fill, minmax(11rem, auto));;
}
.intrinsic-grid-example > * {
	margin: 0;
	padding: var(--spacer-sm);
	background-color: var(--pink-200);
	border: 1px dashed var(--pink-400);
	text-align: center;
}
.intrinsic-grid-example > :nth-child(2n + 1) {
	background-color: var(--green-200);
	border: 1px dashed var(--green-400);
}

.example-table {
	overflow-x: scroll;
}
.example-table table {
	border-collapse: collapse;
	background-color: var(--blue-100);
}
.example-table th,
.example-table td {
	padding: var(--spacer-sm);
	border: 1px solid var(--gray-400);
}

.box-example {
	font-family: var(--font-family-sans);
	padding: var(--spacer-base);
	border: 1px dashed var(--gray-500);
	font-size: 2rem;
	width: 8rem;
	margin-right: 5rem;
	line-height: 1;
	background-color: white;
}
