:root {
	/* Styles taken from https://tailwindcss.com/ */
	--box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);

	--pink-100: #fff5f7;
	--pink-200: #fed7e2;
	--pink-300: #fbb6ce;
	--pink-400: #f687b3;
	--pink-500: #ed64a6;
	--pink-600: #d53f8c;
	--pink-700: #b83280;
	--gray-100: #f7fafc;
	--gray-200: #edf2f7;
	--gray-300: #e2e8f0;
	--gray-400: #cbd5e0;
	--gray-500: #a0aec0;
	--gray-600: #718096;
	--gray-700: #4a5568;
	--gray-800: #2d3748;
	--gray-900: #1a202c;
	--black: #000;
	--red-100: #fff5f5;
	--red-200: #fed7d7;
	--red-300: #feb2b2;
	--red-400: #fc8181;
	--red-500: #f56565;
	--red-600: #e53e3e;
	--red-700: #c53030;
	--orange-100: #fffaf0;
	--orange-200: #feebc8;
	--orange-300: #fbd38d;
	--orange-400: #f6ad55;
	--orange-500: #ed8936;
	--orange-600: #dd6b20;
	--orange-700: #c05621;
	--orange-800: #9c4221;
	--orange-900: #7b341e;
	--green-100: #f0fff4;
	--green-200: #c6f6d5;
	--green-300: #9ae6b4;
	--green-400: #68d391;
	--green-500: #48bb78;
	--green-600: #38a169;
	--green-700: #2f855a;
	--teal-100: #e6fffa;
	--teal-200: #b2f5ea;
	--teal-300: #81e6d9;
	--teal-400: #4fd1c5;
	--teal-500: #38b2ac;
	--teal-600: #319795;
	--teal-700: #2c7a7b;
	--blue-100: #ebf8ff;
	--blue-200: #bee3f8;
	--blue-300: #90cdf4;
	--blue-400: #63b3ed;
	--blue-500: #4299e1;
	--blue-600: #3182ce;
	--blue-700: #2b6cb0;
	--blue-800: #2c5282;
	--blue-900: #2a4365;
	--indigo-100: #ebf4ff;
	--indigo-200: #c3dafe;
	--indigo-300: #a3bffa;
	--indigo-400: #7f9cf5;
	--indigo-500: #667eea;
	--indigo-600: #5a67d8;
	--indigo-700: #4c51bf;
	--indigo-800: #434190;
	--indigo-900: #3c366b;
	--purple-100: #faf5ff;
	--purple-200: #e9d8fd;
	--purple-300: #d6bcfa;
	--purple-400: #b794f4;
	--purple-500: #9f7aea;
	--purple-600: #805ad5;
	--purple-700: #6b46c1;

	--spacer-xxxs: 0.125rem;
	--spacer-xxs: 0.25rem;
	--spacer-xs: 0.5rem;
	--spacer-sm: 0.75rem;
	--spacer-base: 1.25rem;
	--spacer-md: 2rem;
	--spacer-lg: 3.25rem;
	--spacer-xl: 5.25rem;

	--example-mobile-width: 20rem;
	--flex-wrapper-gap: 5rem;
	--box-example-font-size: 1.125em;
}

.intro {
	margin-top: 3em; /* Magic Number */
	display: grid;
	grid-template-areas:
		"innoq avatar name"
		"innoq avatar position";
	grid-template-columns: 1fr auto auto;
	align-items: center;
	justify-items: start;
}

.intro > a {
	grid-area: innoq;
}
.intro > img {
	grid-area: avatar;
	border-radius: 50%;
}
.intro > small:nth-of-type(1) {
	align-self: end;
}
.intro > small:nth-of-type(2) {
	align-self: start;
}

pre {
	-moz-tab-size: 4;
	tab-size: 4;
}

.tip-wrapper {
	width: min-content;
	/* margin: auto; */
}
.tip-wrapper .symbol {
	margin: 0;
	line-height: 0;
	text-align: left;
}
.tip-wrapper .symbol.ok {
	color: var(--green-600);
}
.tip-wrapper .symbol.ko {
	color: var(--red-600);
}
.reveal .tip-wrapper pre {
	width: min-content;
}

.responsive-example {
	font-size: 0.5em;
}

.flex-wrapper {
	justify-content: center;
	margin-bottom: 0;
}

.reveal .mascot {
	/* height: 10em; */
	max-width: var(--mascot-width, 3em);
	max-height: 10em;
	margin-top: -5em;
	margin-bottom: -5em;
	position: absolute;
	left: var(--mascot-left);
	top: var(--mascot-top);
	right: var(--mascot-right);
}

.reveal .mascot.centered {
	left: 50%;
	transform: translateX(-50%);
}

div.responsive-web-design {
	background-image: url("/slides/assets/images/responsive-mascot.svg");
	background-repeat: no-repeat;
	background-size: 2em 4em;
	background-position: left 1rem bottom;
}

.first-slide div.responsive-web-design,
.first-slide div.accessible-web-design {
	background-image: none;
}

h2::before {
	content: var(--slide-width);
}

div.accessible-web-design {
	background-image: url("/slides/assets/images/accessible-mascot.svg");
	background-repeat: no-repeat;
	background-size: 1em 1em;
	background-position: right 1rem bottom 7rem;
}

@media (min-width: 900px) {
	div.responsive-web-design {
		background-size: 5em 8em;
	}

	div.accessible-web-design {
		background-size: 3.5em 3.5em;
	}

	.reveal .controls {
		right: 2.25rem;
	}
}

@media (min-width: 1700px) {
	div.accessible-web-design {
		background-size: 6em 6em;
	}

	.reveal .controls {
		right: 5.5rem;
	}
}

.cost-analysis {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: 20rem;
}
.cost-analysis > div > span {
	font-size: 0.4em;
	display: block;
	line-height: 1;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.cost-analysis > figcaption {
	font-size: 0.5em;
	height: 3rem;
	margin-top: var(--spacer-xs);
}

.testing {
	background-color: var(--pink-100);
	padding: var(--spacer-sm);
	border: 3px dashed var(--pink-300);
	margin-bottom: -3px;
	z-index: 2;
}

.developing {
	display: grid;
	padding: var(--spacer-sm);
	justify-items: center;
	background-color: var(--green-100);
	border: 3px dashed var(--green-300);
}

.redeveloping {
	display: grid;
	padding: var(--spacer-sm);
	justify-items: center;
	background-color: var(--blue-100);
	border: 3px dashed var(--blue-300);
	margin-bottom: -3px;
	z-index: 1;
}

.developing > div,
.redeveloping > div {
	display: grid;
	grid-template-columns: 3rem 3rem 3rem 3rem 3rem;
	width: max-content;
}
.developing > div::before,
.redeveloping > div::before {
	display: block;
	content: "";
}
.developing > div > :nth-child(4),
.developing > div > :nth-child(5),
.developing > div > :nth-child(6),
.developing > div > :nth-child(7),
.redeveloping > div > :nth-child(3),
.redeveloping > div > :nth-child(4),
.redeveloping > div > :nth-child(5),
.redeveloping > div > :nth-child(6) {
	grid-row: 2;
	transform: translateX(50%);
	margin-top: calc(-1 * var(--spacer-sm));
}
.developing > div > :nth-child(8),
.developing > div > :nth-child(9),
.developing > div > :nth-child(10),
.developing > div > :nth-child(11),
.developing > div > :nth-child(12),
.redeveloping > div > :nth-child(7),
.redeveloping > div > :nth-child(8),
.redeveloping > div > :nth-child(9),
.redeveloping > div > :nth-child(10),
.redeveloping > div > :nth-child(11) {
	grid-row: 3;
	margin-top: calc(-1 * var(--spacer-sm));
}
